body {
    padding: 0;
    margin: 0;
  }
  
  #map,
  body,
  html {
    height: 100%;
  }
  
  .leaflet-popup-content {
    text-align: center;
  }

  /* Set background color for the entire HTML page */
html {
  background-color: #f7e8e8; /* Replace this with your desired color */
}

/* Set background color for the body element */
body {
  background-color: #f0f0f0; /* Replace this with your desired color */
}

.jumbotron{
  background-color: #6b5656; /* Replace this with your desired color */
}

  /* img {
    max-height: 50%; 
  }
 
  
  /
 